@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  
  .spinnerContainer {
    display: flex;
    justify-content: center;
  }
  
  .image {
    width: 48px;
    height: 48px;
    margin-top: 100px;
    animation: spin 800ms linear infinite;
  }